.book-comment-list
  - book.book_comments.each do |book_comment|
    %table.table.table-sm.book-comment
      %td= image_tag book_comment.user.get_profile_image, size:'50x50'
      %td= book_comment.user.name
      %td= book_comment.comment
      %td= book_comment.created_at.strftime('%Y/%m/%d')
      %td
        - if book_comment.user == current_user
          = link_to "削除", book_book_comment_path(book_comment.book, book_comment), method: :delete, remote: true
.book-comment-form.my-3
  - if book_comment.errors.any?
    %ul.alert.alert-danger{:role => "alert"}
      %h6.alert-heading
        = book_comment.errors.count
        errors
      - book_comment.errors.full_messages.each do |message|
        %li= message
  = form_with model: [book, book.book_comments.new], local:false do |f|
    .form-group
      = f.label :comment
      = f.text_area :comment, class: 'form-control book_comment_comment'
    .form-group
      = f.submit class: 'btn btn-success'
