%table.table
  %tr= image_tag user.get_profile_image, size:'100x100'
  %tr
    %th name
    %th= user.name
  %tr
    %th introduction
    %th= user.introduction
  %tr
    %th follows
    %th= link_to user.followers.count, user_followings_path(user)
  %tr
    %th followers
    %th= link_to user.followeds.count, user_followers_path(user)
.row
  - if current_user == user and !user.guest_user?
    = link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do
      %i.fas.fa-user-cog
  - else
    = link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do
      %i.fas.fa-user-cog
    - if current_user.follow?(user.id)
      = link_to 'Remove follow', user_relationships_path(user), method: :delete, class: "btn btn-outline-danger btn-block"
      - if current_user.followed_by?(user.id)
        = link_to 'DM', user_direct_messages_path(user), method: :get, class: "btn btn-outline-info btn-block"
    - else
      = link_to 'Follow', user_relationships_path(user), method: :post, class: "btn btn-outline-primary btn-block"
