.container
  .row
    .col-sm-12.col-md-8.col-lg-5.px-5.px-sm-0.mx-auto
      %h2 User info
      - if @user.errors.any?
        %ul.alert.alert-danger{:role => "alert"}
          %h6.alert-heading
            = @user.errors.count
            errors
          - @user.errors.full_messages.each do |message|
            %li= message
      = form_with model:@user, local:true do |f|
        = render 'layouts/errors', obj: @user
        .form-group
          = f.label :name
          = f.text_field :name, class: "form-control name"
        .form-group
          = f.label :image
          = f.file_field :profile_image, class: "form-control-file user_image", accept: 'image/*'
        .form-group
          = f.label :introduction
          = f.text_area :introduction, class: "form-control introduction"
        .form-group
          = f.label :address
          = text_field_tag :zipcode, nil, class: "form-control", placeholder: "Zip Code"
        .form-group
          = f.text_field :address, class: "form-control", placeholder: "Address"
        .form-group
          = f.submit class: 'btn btn-secondary'

= javascript_pack_tag "jpostal", 'data-turbolinks-track': 'reload'